.cart-icon{
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-bottom: 12px;
  

  .shopping-icon{
    width: 35px;
    height:35px;
    
  }

  .item-count{
    position: absolute;
    font-size: 14px;
    font-weight: bolder;
    bottom:18px;
    color: #F3F3F3
  }
}