.header{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color:rgb(67, 67, 67);
  opacity: 0.9;
  margin-bottom: 25px;

  .logo-container{
    height: 75px;
    width: 100%;
    padding: 20px 25px;
  }

  

  .options{
    width: 50%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    padding: 20px 15px;

    .option{
      color: #f3f3f3;
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}